* {
    box-sizing: border-box;
}

Body {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    background-color: #fff;
    color: #5D6063;
}

.main-nav {
    background-color: #ffffff;
    color: #5D6063;
    position: fixed;
    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
    width: 100%;
    font-size: 1rem;
    padding: 10px;
}

.nav-button-left {
    float: left;
    position: relative;
    left: 5px;
    bottom: 5px;
}

.nav-button-right {
    float: right;
    position: relative;
    right: 25px;
    bottom: 5px;
}

.nav-text {
    margin-left: 15px;
}

.main-header-wrapper {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-content-wrapper {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

.blog-container {
    border-top: 2px solid #EAEDF0;
}


.sub-heading {
    text-align: center;
    font-size: 1rem;
}

.sub-heading2 {
    text-align: center;
    font-size: 1rem;
}

.main-content {
    border-top: 1px solid #EAEDF0;
    width: 100%;
}

p {
    text-align: justify;
    font-size: 1rem;
}

.footer {
    background-color: #ffffff;
    color: #5D6063;
    border-top: 2px solid #EAEDF0;
    width: 100%;
    font-size: 1rem;

}

.social-media-container {
    float: right;
    padding: 10px;
}

.footer-text {
    float: left;
    position: relative;
    left: 5px;
    padding-top: 15px;
}

a {
    text-decoration: none;
}

.gears {
    float: left;
    padding: 15px;
}