* {
    box-sizing: border-box;
}

Body {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    background-color: #fff;
    color: #5D6063;
}

.main-nav {
    background-color: #ffffff;
    color: #5D6063;
    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
    width: 100%;
    font-size: 1rem;
    padding-bottom: 30px;
}

.nav-button-left {
    float: left;
    position: relative;
    left: 5px;
    min-width: 180px;
}

.nav-button-right {
    float: right;
    position: relative;
    right: 25px;
    min-width: 180px;
    text-align: right;
}

.nav-text {
    margin-left: 15px;
}

.main-header-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-content-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.blog-wrapper {
    border-top: 1px solid #EAEDF0;
}

.sf-card {
    width: 10%;
    height:10%;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

.blog-container {
    width: 100%;
}

.blog-article {
    border-bottom: 1px solid #EAEDF0;
}


.sub-heading {
    text-align: center;
    font-size: 1rem;
}

.sub-heading2 {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

.sub-heading-rule-before {
    position: relative;
    border-top: 1px solid #959BA0;
}

.sub-heading-rule-after {
    position: relative;
    border-top: 1px solid #959BA0;
}

.main-content {
    border-top: 1px solid #EAEDF0;
    width: 100%;
}

p {
    text-align: justify;
    font-size: 1rem;
}

.footer {
    background-color: #ffffff;
    color: #5D6063;
    border-top: 2px solid #EAEDF0;
    width: 100%;
    font-size: 1rem;
}

#C3{
    padding: 8px;
}

.social-media-container {
    float: right;
    margin-top: 6px;
}

.footer-text {
    position: relative;
    left: 5px;
    display: inline-block;
    width: 50%;
    margin-bottom: 6px;
}

a {
    text-decoration: none;
}

.gears {
    float: left;
    padding: 15px;
}

.gearbox {
    float: right;
    height: 120px;
    width: 120px;
    padding: 15px;
}

.contact-image {
    position: relative;
    top: 10px;
}